.maincontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    background-color: #edf0f5;
    padding: 5%;
}
.mainheading {
    font-size: 50px;
    color: blue;
    font-style: italic;
    font-weight: bold;
}
.facebooktext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5%;
    width: 40%;
    text-align: left;
    
}
.fbtext {
    font-size: x-large;
}

input {
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 5%;
    border-radius: 5px;
    border: 1px solid #bdc7d8;
    text-align: center;
    width: 80%;
  

}
button {
    width: 80%;
    margin-bottom: 5%;
    background-color: #2491EC ;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    
}
.login-container {
    width: 30%;
    text-align: center;
    background-color:white;
    height: auto;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 15px 15px white;
}
.create {
    background-color: #59A52A  ;
}
img {
    width: 50%;
    height: 15%;
    margin: left;
}
.image {
    width: 50vw;
}